<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Spotify App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 style="font-size: 48px">Benvenuto nella mia Spotify App</h1>
    <div class="background"></div>
    <div class="container">
        <p style="font-size: 20px">Accedi con il tuo account Spotify per iniziare ad utilizzare l'app.</p>
        <a class="button" href="/login">Accedi con Spotify</a>
    </div>
</body>
</html>
